/* COLORS VINTAGE */
.Vintage-Ralph-Lauren-1-hex { color: #703030; }
.Vintage-Ralph-Lauren-2-hex { color: #2F343B; }
.Vintage-Ralph-Lauren-3-hex { color: #7E827A; }
.Vintage-Ralph-Lauren-4-hex { color: #E3CDA4; }
.Vintage-Ralph-Lauren-5-hex { color: #C77966; }
/* FONTS */
@font-face {
	font-family:"playfair-display";
	src:url("https://use.typekit.net/af/8babc2/00000000000000007735a120/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/8babc2/00000000000000007735a120/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/8babc2/00000000000000007735a120/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
	font-display:auto;font-style:italic;font-weight:700;
}
@font-face {
	font-family:"viktor-script";
	src:url("https://use.typekit.net/af/a221bb/00000000000000007735b203/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a221bb/00000000000000007735b203/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a221bb/00000000000000007735b203/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:400;
}
@font-face {
	font-family:"shackleton-condensed";
	src:url("https://use.typekit.net/af/695388/00000000000000007735bd06/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/695388/00000000000000007735bd06/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/695388/00000000000000007735bd06/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:400;
	}
/* BODY */
body{
	background-image: url(/assets/img/bg1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* HEADER - CABEÇALHO*/
header{
	width: 100%;
	background-image: linear-gradient(to right, #4C4C59, #151B26);
}

.HeaderContainer{
	width: 940px;
	margin: 0 auto;
	position: relative;
	padding: 30px
}
.HeaderContainer img{
	width: 150px;
	vertical-align: top;
	display: inline-block;
}
.HeaderContainer nav{
	display: inline;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.HeaderContainer li{
	display: inline;
	margin:0 0 0 20px ;
}
.HeaderContainer a{
	font-family: "playfair-display";
	font-size: 35px;
	text-decoration: none;
	color: white;
}
/* MAIN - CORPO DO SITE */

.Main {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.Main li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	background-image: linear-gradient(to top, #4c4c59, #293141);
}

.Main li:hover {
	border-color: #F2DCC2;
}

.Main li:active {
	border-color: #1F3A8C;	
}

.Main li:hover h2 {
	font-size: 45px;
}

.Main h2 {
	font-family: "viktor-script";
	font-size: 40px;
	font-weight: bold;
	color: #F2DCC2;
}
.Main img{
	margin-top: 10px;
	width: 150px;
	height: 230px;
}


.produto-descricao {
	margin-top: 10px;
	font-size: 18px;
	color: #F2DCC2;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
	color: #F2DCC2;
}
/* Footer */
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 20px 0;
	background-image: linear-gradient(to top, #4c4c59e3, #293141f3);
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

footer img{
	width: 70px;
	
}
